{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Blockviz home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block content %}
    {% searchbar id="searchbar1" managerid="search1" %}
    {% searchcontrols id="searchcontrols1" managerid="search1" %}
    {% timeline id="timeline1" managerid="search1" %}
    {% table id="table1" managerid="search1" %}
    <div style="width:100%; height:500px;" id=map></div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://geoscore.com/static/geoscore.v1.min.js"></script>

{% endblock content %}

{% block managers %}
    {% searchmanager id="search1" 
        search="host=blockviz.com | stats count by block_offset" 
        preview=True 
        required_field_list="*" status_buckets=300 %}
{% endblock managers %}

{% block js %}
    <script>
	// Step 1 - Create a google map
    	var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(39.83, -96.0),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(document.getElementById("map"), mapOptions);


        var deps = [
            "splunkjs/ready!"
        ];
        require(deps, function(mvc) {
            // Get instances of the views and search manager created using tags
            var mytimeline = splunkjs.mvc.Components.getInstance("timeline1");
            var mysearchbar = splunkjs.mvc.Components.getInstance("searchbar1");
            var mysearch = splunkjs.mvc.Components.getInstance("search1");
            // Update the search manager when the timeline changes
            mytimeline.on("change", function() {
                mysearch.settings.set(mytimeline.val());
            });
            // Update the search manager when the query in the searchbar changes
            mysearchbar.on("change", function() {
                mysearch.settings.unset("search");
                mysearch.settings.set("search", mysearchbar.val());
            });
            // Update the search manager when the timerange in the searchbar changes
            mysearchbar.timerange.on("change", function() {
                mysearch.settings.set(mysearchbar.timerange.val()); 
            });
        var manager = mysearch;
        var data = manager.data('results', {
            output_mode: 'json_rows',
            count: 0 // get all results
        });

        //Splunk results 
	//TODO: Percentiles
        var formatResults = function(results) {
            if (!data.hasData()) {
                return;
            }

            var collection = results.collection().toJSON();
	    // {block_offset="0",
	    // count="4"},
	    console.log(collection);

	    // Step 2 - Create a choropleth overlay map

	    var overlayOptions = {
		geography: geoscore.geography.COUNTIES,
		opacity: 0.75
	    };

	    var overlay = geoscore.maps.Overlay(overlayOptions);
	    map.overlayMapTypes.push(overlay); 
        }
        data.on('data', formatResults);
        manager.startSearch();
        });
    </script>
{% endblock js %}
